{% extends "registration/base.html" %}

{% load static %}

{% block title %}Issue Tracker - {{ project.project_name }} - Completed Issues{% endblock %}

{% block content %}
<div class="container">
    <a href="/{{ project.id }}/new_issue/" class="btn btn-primary" role="button">Add Issue</a>
    <table class="table table-hover">
        <tr class="well well-sm">
            <th>Completed Issues</th>
            <th>Type</th>
            <th>Submitted By</th>
            <th>Date Posted</th>
            <th>Date Completed</th>
            <th>Priority</th>
            <th>Actions</th>
        </tr>
        {% for issue in project.issue_set.all %}
            {% if issue.user == user and issue.completed == True %}
                <tr>
                    <td>{{ issue.issue_text }}</td>
                    <td>{{ issue.issue_type }}</td>
                    <td>{{ issue.user }}</td>
                    <td>{{ issue.date_posted }}</td>
                    <td>{{ issue.date_completed }}</td>
                    <td>{{ issue.priority }}</td>
                    <td><a href="/{{ project.id }}/{{ issue.id }}/delete" class="btn btn-link" role="button">Delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    <a href="/{{ project.id }}/issues/" class="btn btn-danger" role="button">Back</a>
</div>
{% endblock %}

