{% extends "registration/base.html" %}

{% load static %}

{% block title %}Issue Tracker - {{ project.project_name }}{% endblock %}

{% block content %}
<div class="container">
    <a href="/{{ project.id }}/new_issue/" class="btn btn-primary" role="button">Add Issue</a>
    <table class="table table-hover">
        <tr class="well well-sm">
            <th>Issue</th>
            <th>Submitted By</th>
            <th>Date Posted</th>
            <th>Priority</th>
            <th>In Progress</th>
            <th>Actions</th>
        </tr>
        {% for issue in project.issue_set.all %}
            {% if issue.user == user %}
                <tr>
                    <td>{{ issue.issue_text }}</td>
                    <td>{{ issue.user }}</td>
                    <td>{{ issue.date_posted }}</td>
                    <td>{{ issue.priority }}</td>
                    <td><input type="checkbox" id="in_progress"></td>
                    <td><a href="/{{ project.id }}/{{ issue.id }}/delete" class="btn btn-link" role="button">delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    {% for project in object_list %}
        <p>{{ project.project_name }}</p>
    {% endfor %}
</div>
{% endblock %}

