{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<!--    <link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/style.css' %}">-->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Issue Tracker</title>
</head>
<body>

<!--    {% block content %}-->
<div class="container">
    <div class="jumbotron">
        <h1>Issue Tracker</h1>
        <h3 class="text-right">By Davy Berra</h3>
    </div>
</div>
<div class="container">
    <a href="/issue_tracker/new_issue/" class="btn btn-primary" role="button">Add Issue</a>
    <table class="table table-hover">
        <tr class="well well-sm">
            <th>Issue</th>
            <th>Date Posted</th>
            <th>Priority</th>
            <th>In Progress</th>
            <th>Actions</th>
        </tr>
        {% for issue in object_list %}
        <tr>
            <td>{{ issue.issue_text }}</td>
            <td>{{ issue.date_posted }}</td>
            <td>{{ issue.priority }}</td>
            <td><input type="checkbox" id="in_progress"></td>
            <td><a href="/{{ issue.id }}/delete" class="btn btn-link" role="button">delete</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<!--    {% endblock %}-->
</body>
</html>

