{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/style.css' %}">-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/style.css' %}">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

<div class="container">
    <div class="jumbotron">
        <h1>Issue Tracker</h1>
        <h3 class="text-right">By Davy Berra</h3>
        <a href="/issue_tracker/" class="btn btn-info" role="button">Home</a>
    </div>
</div>

<div class="container">
    <div class="page-header">
        <h1>New Issue</h1>
        <p>Submit a new issue below.</p>
        <p>Be sure to select an appropriate priority level.</p>

    </div>
</div>
<div class="container">

    <form action="/issue_tracker/new_issue/" method="post">
        {% csrf_token %}
        <div class="row wrapper">
            <div class="col-sm-12">
                <label>Describe the issue.
                    <div class="issue_text">{{ form.issue_text }}</div>
                </label>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-sm-12">
                <label>Priority
                    <div class="priority">{{ form.priority }}</div>
                </label>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-sm-12">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>


