{% load static %}

<!--<link rel="stylesheet" type="text/css" href="{% static 'issue_tracker/style.css' %}">-->
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<a href="/issue_tracker/" class="button">Home</a>
<form action="/issue_tracker/new_issue/" method="post">
    {% csrf_token %}
    <div class="issue_text" style="width: 100%;margin: 50px">{{ form.issue_text }}</div>
    <div class="priority">{{ form.priority }}</div>
    <input type="submit" value="Submit" class="submit">

</form>