{% extends "registration/base.html" %}

{% load static %}

{% block title %}Issue Tracker - New Issue{% endblock %}

{% block content %}

<div class="container">
    <div class="page-header">
        <h1>New Issue</h1>
        <p>Submit a new issue below.</p>
        <p>Be sure to select an appropriate priority level.</p>

    </div>
</div>
<div class="container">

    <form action="/{{ pk }}/new_issue/" method="post">
        {% csrf_token %}
        <div class="row wrapper">
            <div class="col-sm-12">
                <label>Describe the issue.
                    <div class="issue_text">{{ form.issue_text }}</div>
                </label>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-sm-12">
                <label>Priority
                    <div class="priority">{{ form.priority }}</div>
                </label>
            </div>
        </div>
        <div class="row wrapper">
            <div class="col-sm-12">
                <input type="submit" value="Submit" class="btn btn-primary">
            </div>
        </div>
    </form>
</div>

{% endblock %}
