{% extends "registration/base.html" %}

{% load static %}

{% block title %}Issue Tracker - Projects{% endblock %}

{% block content %}
<div class="container">
    <a href="/issue_tracker/create_project/" class="btn btn-primary" role="button">Add Project</a>
    <table class="table table-hover">
        <tr class="well well-sm">
            <th>Project Name</th>
            <th>Actions</th>
        </tr>
        {% for project in object_list %}
            {% if project.user == user %}
                <tr>
                    <td><a href="/{{ project.id }}/issues" class="btn btn-link" role="button">{{ project.project_name }}</a></td>
                    <td><a href="/{{ project.id }}/delete" class="btn btn-link" role="button">delete</a></td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}