<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Issue Tracker</title>
</head>

<body>
<div class="container">
    <div class="jumbotron">
        <h1>Issue Tracker</h1>
        <h3 class="text-right">By Davy Berra</h3>
        <a href="/issue_tracker/" class="btn btn-info" role="button">Home</a>
    </div>
</div>

<div class="container">
    <p>{{ num_visits }}</p>
    <form action="/issue_tracker/">
        <div class="alert alert-success">
            <strong>Success!</strong>Form submitted successfully.
        </div>
        <input type="submit" value="Home" class="btn btn-primary">
    </form>
</div>
</body>
</html>