{% extends "registration/base.html" %}
{% load static %}

{% block title %}Issue Tracker - Delete Project Confirmation{% endblock %}

{% block content %}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <div class="alert alert-warning">
            Are you <strong>sure</strong> you want to delete this issue?
            <br>
            Doing so will delete <strong>all</strong> associated issues, and cannot be undone.
        </div>
        <input type="submit" value="Yes" class="btn btn-success">
        <a href="/projects/" class="btn btn-danger" role="button">Cancel</a>
    </form>
</div>
{% endblock %}